astroid==2.2.5
autopep8==1.5.5
beautifulsoup4==4.6.3
certifi==2019.3.9
click==8.0.1
colorama==0.4.1
cycler==0.10.0
Django==2.2.13
django-filter==2.4.0
djangorestframework==3.12.2
feedparser==5.2.1
importlib-metadata==3.4.0
isort==4.3.16
joblib==1.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.3.1
Markdown==3.3.3
matplotlib==3.4.2
mccabe==0.6.1
nltk==3.6.2
numpy==1.20.3
pandas==1.2.4
Pillow==8.2.0
pycodestyle==2.6.0
pylint==2.3.1
pylint-django==2.0.6
pylint-plugin-utils==0.5
pyparsing==2.4.7
python-dateutil==2.8.0
pytz==2018.9
regex==2021.4.4
six==1.12.0
sqlparse==0.4.1
toml==0.10.2
tqdm==4.61.0
typed-ast==1.3.2
typing-extensions==3.7.4.3
Unidecode==1.2.0
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.11.1
zipp==3.4.0
