{% extends "core/base.html" %} {% load static %} {% block title %}Noticias{% endblock %} {% block content %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">

                    {% if not news_most_view %} {% else %}
                    <h2>Más Vistos</h2>
                    {% endif %}
                </div>
            </div>

            {% for new in news_most_view %}
            <!-- post -->
            <div class="col-md-6">
                <div class="post post-thumb">

                    <div class="div-imagen">
                        <div class="font-weight-bold">{{new.bajada}}</div>
                        <a class="post-img desvanecer-thumb" href="{% url 'detail' new.id_noticia %}" target="_blank"><img src="{{new.link_recurso}}" alt="" class="img-fluid desvanecer" style="height:auto; max-height: 18em; overflow:auto; "></a>
                    </div>

                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category" href="{% url 'category' new.categoria %}">{{new.categoria}}</a>
                            <a class="post-category cat-{{new.id_universidad.alias}}" href="{% url 'university' new.id_universidad.alias %}">{{new.id_universidad.alias}}</a>
                            <span class="post-date">{{new.fecha}}</span>
                        </div>
                        <h3 class="post-title"><a href="{% url 'detail' new.id_noticia %}" target="_blank">{{new.titulo}}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
            {% endfor %}

        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Noticias</h2>
                </div>
            </div>

            <div class="infinite-container d-flex flex-wrap" style="">
                {% for new in news %}
                <div class="col-md-4 infinite-item ">
                    <div class="post">
                        <h3 class="post-title"><a href="{% url 'detail' new.id_noticia %}" target="_blank" style="text-decoration:none;">{{new.titulo}}</a></h3>
                        <div class="div-imagen">
                            <div class="font-weight-bold">{{new.bajada|truncatechars:250 }}</div>
                            <a class="post-img" href="{% url 'detail' new.id_noticia %}" target="_blank"><img src="{{new.link_recurso}}" alt="" class="img-fluid desvanecer" style="height:auto; max-height: 14em; overflow:auto; "></a>
                        </div>
                        <div class="post-body">
                            <div class="post-meta">
                                <!-- <a class="post-category " href="{% url 'category' new.categoria %}">{{new.categoria}}</a> -->
                                <a class="post-category " href="{% url 'category' new.categoria %}">{{new.categoria}}</a>
                                <!-- <div class="fb-share-button" data-href="{% url 'detail' new.id_noticia %}" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Funinews.datoslab.cl%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div> -->

                                <a class="post-category cat-{{new.id_universidad.alias}}" href="{% url 'university' new.id_universidad.alias %}">{{new.id_universidad.alias}}</a>
                                <span class="post-date">{{new.fecha}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="clearfix visible-md visible-lg"></div>

        </div>
        <!-- /row -->

        <!-- Pagination -->
        <div class="row">
            <div class="paginator mx-auto">
                {% if news.has_next %}
                <a class="infinite-more-link" href="?page={{ news.next_page_number }}">Más Noticias</a> {% endif %}

                <div class="loading" style="display: none;">
                    Cargando...
                </div>

                {% comment %} Paginacion por numeros
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if news.has_previous %}
                        <li class="page-item">
                            <a href="?page=1" aria-label="Inicio" class="page-link">
                                <span aria-hidden="true">Inicio</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ news.previous_page_number }}" aria-label="Anterior" class="page-link">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        {% else %}
                        <li class="page-item disabled"><span aria-hidden="true" class="page-link">Inicio</span></li>
                        <li class="page-item disabled"><span aria-hidden="true" class="page-link">&laquo;</span></li>
                        {% endif %} {% for num in news.paginator.page_range %} {% if news.number == num %}
                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                        {% elif num > news.number|add:'-3' and num
                        < news.number|add: '3' %} <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                            {% endif %} {% endfor %} {% if news.has_next %}
                            <li class="page-item">
                                <a href="?page={{news.next_page_number}}" aria-label="Siguiente" class="page-link">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{news.paginator.num_pages}}" aria-label="Última" class="page-link">
                                    <span aria-hidden="true">Última</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><span aria-hidden="true" class="page-link">&raquo;</span></li>
                            <li class="page-item disabled"><span aria-hidden="true" class="page-link">Última</span></li>
                            {% endif %}
                    </ul>
                </nav>
                {% endcomment %}
            </div>
        </div>
        <!-- /Pagination -->

    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}