{% extends "core/base.html" %}

{% load static %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
    
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Estadísticas</h2>
                </div>
            </div>

        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-12">
                <h3>Cantidad de visitas por Universidad</h3>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm ">
                        <thead>
                            <tr>
                                <th class="align-middle text-center">Alias</th>
                                <th class="align-middle text-center">Total de visitas (Total)</th>
                                <th class="align-middle text-center">Visitas noticia más vista (Siempre)</th>
                                <th class="align-middle text-center">Noticia con más visitas (Siempre)</th>
                                <th class="align-middle text-center">Visitas noticia más vista (14 días)</th>
                                <th class="align-middle text-center">Noticia con más visitas (14 días)</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for estadistica in estadisticas %}
                            <tr>
                                <td class="align-middle ">{{estadistica.nombre}}</td>
                                <td class="align-middle text-right">{{estadistica.total_visitas}}</td>
                                <td class="align-middle text-right">{{estadistica.noticia_mas_vista.contador_visitas}}</td>
                                <td class="align-middle "><a class="btn-link" target="_blank" href="{% url 'detail' estadistica.noticia_mas_vista.id_noticia %}">{{estadistica.noticia_mas_vista.titulo}}</a></td>
                                <td class="align-middle text-right">{{estadistica.noticia_mas_vista_reciente.contador_visitas}}</td>
                                <td class="align-middle "><a class="btn-link" target="_blank" href="{% url 'detail' estadistica.noticia_mas_vista.id_noticia %}">{{estadistica.noticia_mas_vista_reciente.titulo}}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <hr>
                <code>
                    {% comment %}
                    {{estadisticas}}
                    {% endcomment %}
                </code>
                
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}