{% extends "core/base.html" %}

{% load static %}
{% load humanize %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
    
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Estadísticas</h2>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- Inicio Paneles Estadísticas -->
        <div class="row">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- Botón General -->
                    <button class="nav-link active" id="v-pills-general-tab" data-bs-toggle="pill" data-bs-target="#v-pills-general"
                        type="button" role="tab" aria-controls="v-pills-general" aria-selected="true">General</button>
                    
                    <!-- Botón Depuración -->
                    <!-- <button class="nav-link" id="v-pills-depuracion-tab" data-bs-toggle="pill" data-bs-target="#v-pills-depuracion"
                        type="button" role="tab" aria-controls="v-pills-depuracion" aria-selected="false">Depuración</button> -->
                    
                    <!-- Botones Universidades -->
                    {% for universidad in estadisticas_universidades %}
                        <!-- Botón {{universidad.nombre_corto}} -->
                        <button class="nav-link" id="v-pills-{{universidad.nombre_corto}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{universidad.nombre_corto}}"
                            type="button" role="tab" aria-controls="v-pills-{{universidad.nombre_corto}}" aria-selected="false">{{universidad.nombre_corto}}</button>
                    {% endfor %}

                    <!-- Botón Otras Estadísticas -->
                    <button class="nav-link" id="v-pills-otros-tab" data-bs-toggle="pill" data-bs-target="#v-pills-otros"
                        type="button" role="tab" aria-controls="v-pills-otros" aria-selected="false">Otros</button>
                </div>

                <!-- Acá empieza el contenido de las tabs -->

                <div class="tab-content" id="v-pills-tabContent">
                    <!-- Inicio Contenido General -->
                    <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">

                        <h1>Estadísticas Generales</h1>
                        <hr>

                        <!-- Grafico de calendario -->
                        <div class="col">
                            <div id="calendar_basic" style="width: 1000px; height: 800px;"></div>
                        </div>
                        
                        <div class="col">
                            <h3>Cantidad de visitas por Universidad</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-sm ">
                                    <thead>
                                        <tr>
                                            <th class="align-middle text-center">Alias</th>
                                            <th class="align-middle text-center">Total de noticias</th>
                                            <th class="align-middle text-center">Total de visitas (Total)</th>
                                            <th class="align-middle text-center">Visitas noticia más vista (Siempre)</th>
                                            <th class="align-middle text-center">Noticia con más visitas (Siempre)</th>
                                            <th class="align-middle text-center">Visitas noticia más vista (14 días)</th>
                                            <th class="align-middle text-center">Noticia con más visitas (14 días)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for estadistica in estadisticas_universidades %}
                                        <tr>
                                            <td class="align-middle ">{{estadistica.nombre_corto}}</td>
                                            <td class="align-middle text-end">{{estadistica.total_noticias|intcomma}}</td>
                                            <td class="align-middle text-end">{{estadistica.total_visitas|intcomma}}</td>
                                            <td class="align-middle text-end">{{estadistica.noticia_mas_vista.contador_visitas|intcomma}}</td>
                                            <td class="align-middle "><a class="btn-link" target="_blank"
                                                    href="{% url 'detail' estadistica.noticia_mas_vista.id_noticia %}"
                                                    title="{{estadistica.noticia_mas_vista.titulo}}">{{estadistica.noticia_mas_vista.titulo|truncatechars:15}}</a>
                                            </td>
                                            <td class="align-middle text-end">
                                                {{estadistica.noticia_mas_vista_reciente.contador_visitas|intcomma}}</td>
                                            <td class="align-middle "><a class="btn-link" target="_blank"
                                                    href="{% url 'detail' estadistica.noticia_mas_vista_reciente.id_noticia %}"
                                                    title="{{estadistica.noticia_mas_vista_reciente.titulo}}">{{estadistica.noticia_mas_vista_reciente.titulo|truncatechars:15}}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>Total</td>
                                            <td class="align-middle text-end">{{estadisticas_generales.total_noticias|intcomma}}</td>
                                            <td class="align-middle text-end">{{estadisticas_generales.total_visitas|intcomma}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Contenido General -->
                    
                    <!-- Inicio Contenido Depuración -->
                    <div class="tab-pane fade" id="v-pills-depuracion" role="tabpanel" aria-labelledby="v-pills-depuracion-tab">

                        <h1>Depuración</h1>
                        <hr>

                        {% comment %}
                        <div class="col">
                            <code>
                                <h3>Estadísticas generales</h3>
                                {{ estadisticas_generales.estadisticas_fecha }}
                                    <hr>
                                    <h3>Estadísticas por universidad</h3>
                                {{ estadisticas_universidades }}
                            </code>
                        </div>
                        {% endcomment %}
                    </div>
                    <!-- Fin Contenido Depuración -->

                    <!-- Inicio Contenidos Universidades -->
                    {% for universidad in estadisticas_universidades %}
                        <!-- Inicio Contenido Universidad {{universidad.nombre_corto}} -->
                        <div class="tab-pane fade" id="v-pills-{{universidad.nombre_corto}}" role="tabpanel" aria-labelledby="v-pills-{{universidad.nombre_corto}}-tab">

                            <div class="row">
                                <h1>{{universidad.nombre_largo}}</h1>
                                <hr>

                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <!-- Botón Información General {{universidad.nombre_corto}} -->
                                        <button class="nav-link active" id="nav-info-general-{{universidad.nombre_corto}}-tab" data-bs-toggle="tab" data-bs-target="#nav-info-general-{{universidad.nombre_corto}}" type="button"
                                            role="tab" aria-controls="nav-info-general-{{universidad.nombre_corto}}" aria-selected="true">General</button>

                                        <!-- Botón Información Gráfico 1 {{universidad.nombre_corto}} -->
                                        <button class="nav-link" id="nav-grafico-1-{{universidad.nombre_corto}}-tab" data-bs-toggle="tab" data-bs-target="#nav-grafico-1-{{universidad.nombre_corto}}" type="button"
                                            role="tab" aria-controls="nav-grafico-1-{{universidad.nombre_corto}}" aria-selected="false">Gráfico 1</button>

                                        <!-- Botón Información Gráfico 2 {{universidad.nombre_corto}} -->
                                        <button class="nav-link" id="nav-grafico-2-{{universidad.nombre_corto}}-tab" data-bs-toggle="tab" data-bs-target="#nav-grafico-2-{{universidad.nombre_corto}}" type="button"
                                            role="tab" aria-controls="nav-grafico-2-{{universidad.nombre_corto}}" aria-selected="false">Gráfico 2</button>

                                        <!-- Botón Información Gráfico 3 {{universidad.nombre_corto}} -->
                                        <button class="nav-link" id="nav-grafico-3-{{universidad.nombre_corto}}-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-grafico-3-{{universidad.nombre_corto}}" type="button" role="tab"
                                            aria-controls="nav-grafico-3-{{universidad.nombre_corto}}" aria-selected="false">Gráfico 3</button>

                                        <!-- Botón Información Gráfico 4 {{universidad.nombre_corto}} -->
                                        <button class="nav-link" id="nav-grafico-4-{{universidad.nombre_corto}}-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-grafico-4-{{universidad.nombre_corto}}" type="button" role="tab"
                                            aria-controls="nav-grafico-4-{{universidad.nombre_corto}}" aria-selected="false">Gráfico 4</button>
                                    </div>
                                </nav>

                                <div class="tab-content" id="nav-tabContent">
                                    <!-- Inicio Contenido General {{universidad.nombre_corto}} -->
                                    <div class="tab-pane fade show active" id="nav-info-general-{{universidad.nombre_corto}}" role="tabpanel" aria-labelledby="nav-info-general-{{universidad.nombre_corto}}-tab">
                                        <table class="table table-bordered table-sm">
                                            <tbody>
                                                <tr>
                                                    <td>Nombre:</td>
                                                    <td>{{universidad.nombre_largo}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Alias:</td>
                                                    <td>{{universidad.nombre_corto}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Cantidad total de noticias:</td>
                                                    <td>{{universidad.total_noticias|intcomma}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Cantidad total de visitas:</td>
                                                    <td>{{universidad.total_visitas|intcomma}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Noticia más vista:</td>
                                                    <td><a target="_blank"
                                                            href="{% url 'detail' universidad.noticia_mas_vista.id_noticia %}">{{universidad.noticia_mas_vista.titulo}}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Visitas de noticia más vista:</td>
                                                    <td>{{universidad.noticia_mas_vista.contador_visitas|intcomma}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Fin Contenido General {{universidad.nombre_corto}} -->

                                    <!-- Inicio Contenido Gráfico 1 {{universidad.nombre_corto}} -->
                                    <div class="tab-pane fade" id="nav-grafico-1-{{universidad.nombre_corto}}" role="tabpanel" aria-labelledby="nav-grafico-1-{{universidad.nombre_corto}}-tab">
                                        <div class="row mt-3">
                                            <h3>Cantidad de noticias agregadas en el tiempo</h3>
                                            <div class="col-12 mt-3">
                                                <div id="noticias_por_mes_{{universidad.nombre_corto}}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Contenido Gráfico 1 {{universidad.nombre_corto}} -->

                                    <!-- Inicio Contenido Gráfico 2 {{universidad.nombre_corto}} -->
                                    <div class="tab-pane fade" id="nav-grafico-2-{{universidad.nombre_corto}}" role="tabpanel" aria-labelledby="nav-grafico-2-{{universidad.nombre_corto}}-tab">
                                        <div class="row">
                                            <h3 class="my-3">Cantidad noticias por mes</h3>
                                            <table class="table table-bordered table-striped table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Mes</th>
                                                        <th scope="col">Noticias</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for month in universidad.noticias_por_mes %}
                                                        <tr>
                                                            <td>{{month.month|date:"F Y"}}</td>
                                                            <td>{{month.total}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Fin Contenido Gráfico 2 {{universidad.nombre_corto}} -->

                                    <!-- Inicio Contenido Gráfico 3 {{universidad.nombre_corto}} -->
                                    <div class="tab-pane fade" id="nav-grafico-3-{{universidad.nombre_corto}}" role="tabpanel"
                                        aria-labelledby="nav-grafico-3-{{universidad.nombre_corto}}-tab">
                                        <div class="row">
                                            <h3 class="my-3">Nube de palabras en título y bajada de la noticia</h3>
                                            <div id="G3_{{universidad.nombre_corto}}" >
                                                {% comment %}
                                                <img src="{{ universidad.nube_de_palabras }}" alt="Nube de Palabras {{universidad.nombre_largo}}">
                                                {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Contenido Gráfico 3 {{universidad.nombre_corto}} -->

                                    <!-- Inicio Contenido Gráfico 4 {{universidad.nombre_corto}} -->
                                    <div class="tab-pane fade" id="nav-grafico-4-{{universidad.nombre_corto}}" role="tabpanel"
                                        aria-labelledby="nav-grafico-4-{{universidad.nombre_corto}}-tab">
                                        <div class="row">
                                            <h3 class="my-3">Cantidad de noticias anuales</h3>
                                            <div id="G4_{{universidad.nombre_corto}}" style="width: 600px; height: 500px;"></div>
                                        </div>
                                    </div>
                                    <!-- Fin Contenido Gráfico 4 {{universidad.nombre_corto}} -->
                                </div>
                            </div>

                        </div>
                        <!-- Fin Contenido Universidad {{universidad.nombre_corto}} -->
                    {% endfor %}
                    <!-- Fin Contenidos Universidades -->

                    <!-- Inicio Contenido Otras Estadísticas -->
                    <div class="tab-pane fade" id="v-pills-otros" role="tabpanel" aria-labelledby="v-pills-otros-tab">
                        <h1>Otras Estadísticas</h1>
                        <hr>

                        <div class="col-12">
                            <!--Div that will hold the pie chart-->
                            <div id="piechart_universidades_noticias_mas_vistas" style="width: 900px; height: 500px;"></div>
                        </div>
                        
                        <div class="col-12">
                            <div id="barchart_universidades_noticias_mas_vistas"></div>
                        </div>
                    </div>
                    <!-- Inicio Contenido Otras Estadísticas -->
                </div>
            </div>
        </div>
        <!-- Fin Paneles Estadísticas -->

    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}

{% block more_js_footer %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart', 'calendar', 'line'], 'language': 'es'});


    // Gráfico de lineas - cantidad de noticias por mes
    {% for universidad in estadisticas_universidades %}
    
        google.charts.setOnLoadCallback(noticias_por_mes_{{universidad.nombre_corto}});
        function noticias_por_mes_{{universidad.nombre_corto}}() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Mes');
            data.addColumn('number', 'Noticias');

            data.addRows([
                {% for month in universidad.noticias_por_mes %}
                    [new Date({{month.month|date:"Y, m-1, d"}}), {{month.total}}],
                {% endfor %}
            ]);

            // Create three formatters in three styles.
            var formatter_date = new google.visualization.DateFormat({pattern: 'MMMM yyyy'});

            // Reformat our data.
            formatter_date.format(data, 0);

            var options = {
                title: 'Noticias por mes',
                curveType: 'none',
                legend: { position: 'right' },
                chartArea:{left:20,top:20,width:"75%",height:"75%"},
                width: 900,
                height: 300,
                explorer: {
                    axis: 'horizontal',
                    keepInBounds: true,
                    maxZoomIn: 4.0
                },
                hAxis: {
                    title: 'Meses',
                    format: 'MMM yy',
                    slantedText: true,
                    logscale: true
                },
                vAxis: {
                    title: 'Noticias'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('noticias_por_mes_{{universidad.nombre_corto}}'));
            chart.draw(data, options);
        };

    {% endfor %}

    

    {% for universidad in estadisticas_universidades %}
        // Gráfico 4 - Noticias por año
        google.charts.setOnLoadCallback(grafico_4_{{ universidad.nombre_corto }});
        function grafico_4_{{universidad.nombre_corto}}() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Año');
            // data.addColumn('date', 'Año');
            data.addColumn('number', 'Noticias');

            data.addRows([
                {% for year in universidad.noticias_por_anio %}
                    // [new Date({{ year.year|date:"Y, m-1, d "}}), {{ year.total }}],
                    ['{{ year.year|date:"Y"}}', {{ year.total }}],
                {% endfor %}
            ]);
            // Create three formatters in three styles.
            var formatter_date = new google.visualization.DateFormat({ pattern: 'Año yyyy' });

            // Reformat our data.
            formatter_date.format(data, 0);

            var view = new google.visualization.DataView(data);
            // view.setColumns([0, 1,
            //     {
            //         calc: "stringify",
            //         sourceColumn: 1,
            //         type: "string",
            //         role: "annotation"
            //     }]);

            var options = {
                title: "Noticias por año",
                width: 900,
                height: 300,
                bar: { groupWidth: "80%" },
                legend: { position: "none" },
                hAxis: {
                    title: 'Años',
                    // format: 'YYYY',
                    slantedText: true,
                    // logscale: false,
                    // format: 'string',
                },
                vAxis: {
                    title: 'Noticias',
                    format: 'short',
                    minValue: 0,
                },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("G4_{{universidad.nombre_corto}}"));
            chart.draw(view, options);
        };
    {% endfor %}



    // piechart_universidades_noticias_mas_vistas
    google.charts.setOnLoadCallback(grafico_1);
    function grafico_1() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Universidades');
        data.addColumn('number', 'Total de visitas');

        data.addRows([
        {% for estadistica in estadisticas_universidades %}
           ['{{estadistica.nombre_corto}}', {{estadistica.total_visitas}}],
        {% endfor %}

        ]);

        // Set chart options
        var options = {
            'title':'Cantidad de noticias vistas por universidad',
            is3D: true,
            };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('piechart_universidades_noticias_mas_vistas'));
        chart.draw(data, options);
    }

    // barchart_universidades_noticias_mas_vistas
    google.charts.setOnLoadCallback(grafico_2);
    function grafico_2() {
        var data = google.visualization.arrayToDataTable([
        ["Universidad", "Cantidad de visitas" ],
        {% for estadistica in estadisticas_universidades %}
           ['{{estadistica.nombre}}', {{estadistica.total_visitas}}],
        {% endfor %}
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }]);

      var options = {
        title: "Noticias más vistas por universidad",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_universidades_noticias_mas_vistas"));
      chart.draw(view, options);
    }
    

    // grafico tipo calendario apra poner las noticis por año y por día
    google.charts.setOnLoadCallback(grafico_3);
    function grafico_3() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
        dataTable.addRows([

        {% for estadistica in estadisticas_generales.estadisticas_fecha %}
           [ new Date( Date.parse("{{estadistica.day}}", "Y-m-d") ), {{estadistica.noticias}} ],
        {% endfor %}

        ]);

        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options = {
            title: "Publicaciones de noticias a lo largo del tiempo",
            colorAxis: {
                minValue: 1,
                // colors: ['#FFFFFF', '#FF0000']
            },
            noDataPattern: {
                backgroundColor: '#a0ffd6',
                color: '#b5ffdf'
            },
            calendar: {
                cellColor: {
                    stroke: '#76a7fa',
                    strokeOpacity: 0.5,
                    strokeWidth: 1,
                },
                daysOfWeek: 'DLMMJVS',
            }
        };

       chart.draw(dataTable, options);
    }


    

    
</script>

{% endblock %}