{% extends "core/base.html" %}

{% load static %}

{% block title %}{{university.alias|upper}}{% endblock %}

{% block section_title %}
<div class="row">
    <div class="col-8">
        <span class="display-4">{{university.nombre}}</span>
    </div>
    <div class="col-4">
        {% with "./img/universidades/"|add:university.alias|lower|add:".png" as university_logo %}
        <img src="{% static university_logo %}" alt="" class="img-fluid" style="max-height: 8em; ">
        {% endwith %}
    </div>
</div>
{% endblock section_title %}
