{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Uninews - Noticias Universitarias" />
    <meta property="og:description" content="Noticias sobre distintas universidades en un solo lugar" />
    <meta property="og:image" content="{{request.build_absolute_uri|slice:':-1'}}{% static './img/social/logo_uninews_facebook.png' %}" />
    <meta property="og:locale" content="es_LA" />
    <meta property="fb:app_id" content="328054081132640" />
    
    <meta name="keywords" content="noticias, universidad, noticias universitarias, noticias universitarias chile, noticias chile, uninews" />
    <meta name="theme-color" content="#0180ff">

    <link rel="icon" type="image/png" href="{% static './img/favicon.png' %}" />

    <title>UniNews | {% block title %}{% endblock %}</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">

    <!-- Bootstrap -->
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Uninews stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/uninews.css' %}?r={% now 'U' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    {% if '127.0.0.1:8000' in request.build_absolute_uri %}
        <!-- No hay Analítica -->
    {% else %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130572691-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-130572691-2');
        </script>
    {% endif %}
    

</head>

<body>

    <!-- Facebook SDK -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v9.0&appId=328054081132640&autoLogAppEvents=1" nonce="UvCgofOZ"></script>

    <!-- Header -->
    <header id="header">
        <!-- Nav -->
        <div id="nav">
            <!-- Main Nav -->
            <div id="nav-fixed">
                <div class="container">
                    <div class="navbar navbar-expand-lg navbar-light pb-0">
                        <!-- logo -->
                        <div class="navbar-brand">
                            <a href="{% url 'home' %}" class="logo"><img src="{% static './img/logo_uninews.png' %}" class="img-fluid" alt=""></a>
                        </div>
                        <!-- /logo -->

                        <!-- nav -->
                        <ul class="nav-menu nav navbar-nav mr-auto">
                            <li><a href="{% url 'home' %}">Inicio</a></li>
                            <li><a href="{% url 'universities' %}">Universidades</a></li>
                            <!-- <li><a href="{% url 'categories' %}">Categorías</a></li> -->
                            <li><a href="{% url 'regiones' %}">Regiones</a></li>
                            <li><a href="{% url 'about' %}">Acerca de</a></li>

                            <li class="nav-item dropdown">
                                <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="false">
                                Especiales
                                </a>
                                <ul class="dropdown-menu" >
                                    <li><a class="dropdown-item" href="{% url 'topico' 'coronavirus' %}">Coronavirus</a></li>
                                    <li><a class="dropdown-item" href="{% url 'topico' 'obsnieves' %}">Observatorio Satelital de Nieves</a></li>

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'topico' 'uninews' %}">Uninews</a></li>
                                    <li><a class="dropdown-item" href="{% url 'topico' 'datoslab' %}">DatosLab</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                        <!-- /nav -->

                        <!-- search & aside toggle -->
                        <div class="nav-btns">
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                            <form class="search-form" action="{% url 'search' %}" method="GET">
                                <input class="search-input" type="text" name="search" placeholder="Buscar noticia ...">
                                <span class="search-close"><i class="fa fa-times"></i></span>
                            </form>
                            <button class="aside-btn"><i class="fa fa-bars"></i></button>
                        </div>
                        <!-- /search & aside toggle -->
                    </div>
                </div>
            </div>
            <!-- /Main Nav -->

            <!-- Aside Nav -->
            <div id="nav-aside">
                <!-- nav -->
                <div class="section-row">
                    <ul class="nav-aside-menu">
                        <li><a href="{% url 'home' %}">Inicio</a></li>
                        <li><a href="{% url 'universities' %}">Universidades</a></li>
                        <!-- <li><a href="{% url 'categories' %}">Categorías</a></li> -->
                        <li><a href="{% url 'regiones' %}">Regiones</a></li>
                        <li>&nbsp;</li>
                        <li><a href="{% url 'statistics' %}">Estadísticas</a></li>
                        <li><a href="{% url 'about' %}">Acerca de</a></li>
                        <li><a href="{% url 'contact' %}">Contacto</a></li>
                    </ul>
                </div>
                <!-- /nav -->

                <hr>

                <!-- Compartir -->
                <div class="section-row">
                    <h3>Compartir</h3>
                    <ul class="nav-aside-menu">
                        <li>
                            <div class="fb-share-button" data-href="http://uninews.datoslab.cl/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Funinews.datoslab.cl%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                        </li>

                    </ul>
                </div>
                <!-- /nav -->

                <hr>

                <!-- social links -->
                <div class="section-row">
                    <h3>Síguenos</h3>
                    <ul class="nav-aside-social">
                        <li><a href="https://github.com/ezequiellagos/uninews" target="_blank"><i class="fa fa-github"></i></a></li>
                        {% comment %}
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        {% endcomment %}
                    </ul>
                </div>
                <!-- /social links -->

                <!-- aside nav close -->
                <button class="nav-aside-close"><i class="fa fa-times"></i></button>
                <!-- /aside nav close -->
            </div>
            <!-- Aside Nav -->

        </div>
        <!-- /Nav -->
    </header>
    <!-- /Header -->

    <!-- Por defecto contiene todas las noticias -->
    {% block content %}

        <!-- section -->
        <div class="section bg-light">

        <!-- NOTICIAS DESTACADAS -->
        <div class="album py-1 ">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <!-- Encabezado de la Página -->
                            {% block section_title %}{% endblock section_title %}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="section-title">
                            {% if not news_most_view %}
                            {% else %}
                            <h2>Destacados</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
        
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    
                    {% for new in news_most_view %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <!-- Imagen -->
                            <div class="div-imagen">
                                <span class="texto-bajada text-dark">{{new.bajada|truncatechars:260 }}</span>
                                <a href="{% url 'detail' new.id_noticia %}" class="desvanecer-thumb" target="_blank">
                                    <img src="{{new.link_recurso}}" alt="{{new.titulo}}" class="card-img-top desvanecer no-image" width="100%" height="225">
                                </a>
                            </div>
                            
                            <!-- Cuerpo -->
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{% url 'detail' new.id_noticia %}" class="text-decoration-none" target="_blank">
                                        {{new.titulo}}
                                    </a>
                                </p>

                                <!-- Botones -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'university' new.id_universidad.alias %}" class="btn btn-sm btn-outline-secondary text-decoration-none text-white cat-{{new.id_universidad.alias}}">
                                            {{new.id_universidad.alias}}
                                        </a>
                                        <button type="button" class="btn btn-sm btn-outline-secondary ">Compartir</button>
                                    </div>
                                    <small class="text-muted">{{new.fecha}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- FIN NOTICIAS DESTCADAS -->

        <!-- NOTICIAS -->
        <div class="album py-5 ">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Noticias</h2>
                        </div>
                    </div>
                </div>
        
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    
                    {% for new in news %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <!-- Imagen -->
                            <div class="div-imagen">
                                <span class="texto-bajada text-dark">{{new.bajada|truncatechars:260 }}</span>
                                <a href="{% url 'detail' new.id_noticia %}" class="desvanecer-thumb" target="_blank">
                                    <img src="{{new.link_recurso}}" alt="{{new.titulo}}" class="card-img-top desvanecer no-image" width="100%" height="225">
                                </a>
                            </div>
                            
                            <!-- Cuerpo -->
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{% url 'detail' new.id_noticia %}" class="text-decoration-none" target="_blank">
                                        {{new.titulo}}
                                    </a>
                                </p>

                                <!-- Botones -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'university' new.id_universidad.alias %}" class="btn btn-sm btn-outline-secondary text-decoration-none text-white cat-{{new.id_universidad.alias}}">
                                            {{new.id_universidad.alias}}
                                        </a>

                                        <button type="button" id="shareBtn-{{new.id_noticia}}" class="btn btn-sm btn-outline-secondary " >
                                            Compartir 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                            </svg>
                                        </button>

                                        {% comment %}
                                        <div class="fb-share-button" data-href="{{ request.scheme }}://{{ request.get_host }}{% url 'detail' new.id_noticia %}" data-layout="button" data-size="small" data-lazy="true"  >
                                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'detail' new.id_noticia %}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                                        </div>
                                        {% endcomment %}

                                    </div>
                                    <small class="text-muted">{{new.fecha}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        document.getElementById('shareBtn-{{new.id_noticia}}').onclick = function() {
                          FB.ui({
                            display: 'popup',
                            method: 'share',
                            href: "{{ request.scheme }}://{{ request.get_host }}{% url 'detail' new.id_noticia %}",
                          }, function(response){});
                        }
                    </script>
                    {% endfor %}

                </div>
                
                <!-- Pagination -->
                <div class="row py-5">

                    <div class="col"></div>
                    <div class="col">

                        <div class="paginator mx-auto">
                            <div class="loading" style="display: none;">
                                Cargando...
                            </div>
                            
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if news.has_previous %}
                                        <!-- <li class="page-item">
                                            <a href="?page=1" aria-label="Inicio" class="page-link">
                                                <span aria-hidden="true">Inicio</span>
                                            </a>
                                        </li> -->
                                        <li class="page-item">
                                            <a href="?page={{ news.previous_page_number }}" aria-label="Anterior" class="page-link">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    
                                    {% else %}
                                        <!-- <li class="page-item disabled"><span aria-hidden="true" class="page-link">Inicio</span></li> -->
                                        <!-- <li class="page-item disabled"><span aria-hidden="true" class="page-link">&laquo;</span></li> -->
                                    {% endif %}
    
                                    {% for num in news.paginator.page_range %}
    
                                        {% if news.number == num %}
                                            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                        {% elif num > news.number|add:'-3' and num < news.number|add:'3' %}
                                            <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                                        {% endif %}
                                    
                                    {% endfor %}
    
                                    {% if news.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{news.next_page_number}}" aria-label="Siguiente" class="page-link">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <!-- <li class="page-item">
                                            <a href="?page={{news.paginator.num_pages}}" aria-label="Última" class="page-link">
                                                <span aria-hidden="true">Última</span>
                                            </a>
                                        </li> -->
                                    {% else %}
                                        <!-- <li class="page-item disabled"><span aria-hidden="true" class="page-link">&raquo;</span></li> -->
                                        <!-- <li class="page-item disabled"><span aria-hidden="true" class="page-link">Última</span></li> -->
                                    {% endif %}
                                </ul>
                            </nav>    
                        </div>

                    </div>
                    <div class="col"></div>

                    
                </div>
                <!-- /Pagination -->

            </div>
        </div>
        <!-- FIN NOTICIAS -->

            <!-- container -->
            <div class="container">
                

                <!-- row -->
                <!-- <div class="row">
                    

                    <div class="infinite-container d-flex flex-wrap" style="">
                        {% for new in news %}
                        <div class="col-md-4 infinite-item " >
                            <div class="post">
                                <h3 class="post-title"><a href="{% url 'detail' new.id_noticia %}" target="_blank" style="text-decoration:none;">{{new.titulo}}</a></h3>
                                <div class="div-imagen">
                                    <div class="font-weight-bold">{{new.bajada|truncatechars:250 }}</div>
                                    <a class="post-img" href="{% url 'detail' new.id_noticia %}" target="_blank"><img src="{{new.link_recurso}}" alt="" class="img-fluid desvanecer" style="height:auto; max-height: 14em; overflow:auto; "></a>
                                </div>
                                <div class="post-body">
                                    <div class="post-meta">
                                        {% comment %} <a class="post-category " href="{% url 'category' new.categoria %}">{{new.categoria}}</a> {% endcomment %}
                                        <a class="post-category cat-{{new.id_universidad.alias}}" href="{% url 'university' new.id_universidad.alias %}">{{new.id_universidad.alias}}</a>
                                        <span class="post-date">{{new.fecha}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="clearfix visible-md visible-lg"></div>

                </div> -->
                <!-- /row -->
                
                

            </div>
            <!-- /container -->
        </div>
        <!-- /section -->

    {% endblock %}

    <!-- Footer -->
    <footer id="footer">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-5">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" class="logo"><img src="{% static './img/logo_uninews.png' %}" class="img-fluid" alt=""></a>
                        </div>
                        <ul class="footer-nav">
                            <li><a href="{% url 'license' %}">Licencia</a></li>
                        </ul>
                        <div class="footer-copyright">
                            <span> <!-- Link back to Colorlib can't be removed. Template is licensed under MIT -->
Copyright <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | <a href="https://datoslab.cl" target="_blank">Datoslab</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under MIT --></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-widget">
                                <h3 class="footer-title">Sobre Nosotros</h3>
                                <ul class="footer-links">
                                    <li><a href="{% url 'about' %}">Acerca de</a></li>
                                    <li><a href="{% url 'contact' %}">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-widget">
                                <!-- <h3 class="footer-title">Categorías</h3> -->
                                <!-- <ul class="footer-links">
                                    <li><a href="{% url 'category' 'academia' %}">Academia</a></li>
                                    <li><a href="{% url 'category' 'noticias' %}">Noticias</a></li>
                                    <li><a href="{% url 'category' 'egresados' %}">Egresados</a></li>
                                    <li><a href="{% url 'categories' %}">Más</a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-widget">
                        <h3 class="footer-title">Recibe información sobre UniNews</h3>
                        <div class="footer-newsletter">
                            <form action="{% url 'email' %}" method="POST">
                                {% csrf_token %}
                                <input class="input" type="email" name="email" placeholder="Ingrese su email">
                                <button class="newsletter-btn"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                        <ul class="footer-social">
                            <li><a href="https://github.com/ezequiellagos/uninews" target="_blank"><i class="fa fa-github"></i></a></li>
                            {% comment %}
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            {% endcomment %}
                        </ul>
                    </div>
                </div>

                {% comment %} Back To Top {% endcomment %}
                <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Subir" data-toggle="tooltip" data-placement="left">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </a>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /Footer -->

    <!-- jQuery Plugins -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Waypoints -->
    <script src="{% static 'js/imakewebthings-waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/imakewebthings-waypoints/lib/shortcuts/infinite.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/uninews.js' %}?r={% now 'U' %}"></script>

    {% block more_js_footer %}{% endblock %}

</body>

</html>