{% extends "core/base.html" %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="display-4">Contacto</div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <div class="row">
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-8">
                        <p class="text-justify">Para contactarnos puedes enviarnos un email a <a href="mailto:ezequiel.lagos@alumnos.upla.cl">ezequiel.lagos@alumnos.upla.cl</a>.
                        También puedes suscribirte a la lista de correo donde informaremos sobre cambios y futuro del sitio en el formulario al final de cada página</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="{% static './img/contact.jpg' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="clearfix visible-md visible-lg"></div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}