{% extends "core/base.html" %}

{% load static %}

{% block title %}Política de Privacidad y Tratamiento de Datos{% endblock %}

{% block content %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="display-4">Política de Privacidad y Tratamiento de Datos</div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <div class="row">
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-12 text-justify">
                        <p>
                            <b>Fecha de Última Actualización: noviembre de 2023</b>
                        </p>
                        <p>
                            <h5>1. Introducción</h5>
                            Bienvenido a Uninews. Nos comprometemos a proteger su privacidad y a tratar sus datos personales de forma transparente y segura. Esta Política de Privacidad explica cómo recolectamos, usamos, compartimos y protegemos la información en el contexto de los servicios ofrecidos por Uninews.
                        </p>

                        <p>
                            <h5>2. Datos Recopilados</h5>
                            <ul>
                                <li>
                                    a. Datos Analíticos: Para mejorar continuamente nuestros Servicios, recopilamos datos anónimos relacionados con el uso de la aplicación, como la frecuencia de uso y las interacciones con las funciones de la aplicación.
                                </li>
                                <li>
                                    b. Correo Electrónico: Si decide contactarnos directamente, requeriremos su dirección de correo electrónico para responder a sus consultas y proporcionar soporte.
                                </li>
                            </ul>
                        </p>

                        <p>
                            <h5>3. Uso de los Datos</h5>
                            Los datos que recopilamos se utilizan exclusivamente para:
                            <ul>
                                <li>
                                    a. Analizar y mejorar la funcionalidad y el rendimiento de nuestros Servicios.
                                </li>
                                <li>
                                    b. Comunicarnos con usted en respuesta a sus consultas o comentarios.
                                </li>
                            </ul>
                        </p>

                        <p>
                            <h5>4. Compartición de Datos</h5>
                            No compartimos, vendemos, alquilamos ni intercambiamos información personal con terceros para fines comerciales. Sin embargo, podemos revelar información si así lo requiere la ley o en respuesta a un proceso legal válido.
                        </p>

                        <p>
                            <h5>5. Seguridad de los Datos</h5>
                            Tomamos medidas razonables para proteger la información que recopilamos de pérdida, robo, mal uso y acceso no autorizado, divulgación, alteración y destrucción.
                        </p>

                        <p>
                            <h5>6. Cambios en la Política de Privacidad</h5>
                            Nos reservamos el derecho de modificar esta política. Cualquier cambio será efectivo inmediatamente después de su publicación en nuestra aplicación y/o sitio web.
                        </p>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-md visible-lg"></div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}