{% extends "core/base.html" %}

{% load static %}

{% block title %}Universidades{% endblock %}

{% block content %}

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Universidades</h2>
                </div>
            </div>

            {% for university in universities %}
            <!-- post -->
            <div class="col-md-4">
                <div class="post">
                    {% with "./img/universidades/"|add:university.alias|lower|add:".png" as university_logo %}
                    <a class="post-img" href="{% url 'university' university.alias %}" target="_self"><img src="{% static university_logo %}" alt="" class="img-fluid" style="max-height: 15em; object-fit: cover;"></a>
                    {% endwith %}
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-{{university.alias}}" href="{% url 'university' university.alias %}">{{university.alias}}</a>
                        </div>
                        <h3 class="post-title"><a href="{% url 'university' university.alias %}" target="_self" style="text-decoration:none;">{{university.nombre}}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
            {% endfor %}

            <div class="clearfix visible-md visible-lg"></div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}