{% extends "core/base.html" %}

{% load static %}

{% block title %}Universidades{% endblock %}

{% block content %}

<!-- section -->
<div class="section">

    <div class="album py-5 ">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Universidades</h2>
                    </div>
                </div>
            </div>
    
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                {% for university in universities %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <!-- Imagen -->
                            <div class="div-imagen">
                                {% with "./img/universidades/"|add:university.alias|lower|add:".png" as university_logo %}
                                    <a class="" href="{% url 'university' university.alias %}" target="_self">
                                        <img src="{% static university_logo %}" alt="" class="card-img-top no-image" width="100%" height="auto">
                                    </a>
                                {% endwith %}
                            </div>
                            
                            <!-- Cuerpo -->
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{% url 'university' university.alias %}" class="text-decoration-none" target="_self">
                                        {{ university.nombre }}
                                    </a>
                                </p>

                                <!-- Botones -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'university' university.alias %}" class="btn btn-sm btn-outline-secondary text-decoration-none text-white cat-{{university.alias}}">
                                            {{university.alias}}
                                        </a>

                                    

                                    </div>
                                    <small class="text-muted">{{new.fecha}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            

        </div>
    </div>

</div>
<!-- /section -->

{% endblock %}