:root{
    --color-pucv: #a75154;
    --color-ucn: #BD6222;
    --color-utfsm: #f7ae00;
    --color-upla: #0099cc;
    --color-uv: #003399;
    --color-udec: #9c9a9a;
    --color-utalca: #AE0E36;
    --color-ulagos: #056563;
    --color-ucsc: #d10024;
    --color-ubiobio: #054993;
    --color-unap: #004b80;
    --color-ua: #0c5dc5;
    --color-uda: #364b57;
    --color-userena: #1d337f;
    --color-uoh: #0073b8;
    --color-ucm: #00a1e1;
    --color-ufro: #003574;
    --color-uct: #fdc300;
    --color-uach: #000000;
    --color-uaysen: #5bc8b1;
    --color-umag: #011b4f;
    --color-uta: #ebae31;
}

html {
    scroll-behavior: smooth;
}

/* Opacidad de Post */
.div-imagen {
    /* display:fluid; */
    position: relative;
    z-index: 1;
}

.texto-bajada {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 20px;
    margin: 0;
}


.desvanecer{
    background-image: url("../img/category.png");
}

.desvanecer:hover {
    opacity: 0.15;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.desvanecer-thumb:hover {
    opacity: 0.15 !important;
    color: black;
    -webkit-transition: opacity 500ms !important;
    -moz-transition: opacity 500ms !important;
    -o-transition: opacity 500ms !important;
    -ms-transition: opacity 500ms !important;
    transition: opacity 500ms !important;
}
/* Fin Opacidad de Post */

/* Back To Top */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3em;
    display:none;
    z-index: 10;
}
/* Fin Back To Top */

/*----------------------------*\
	post category
\*----------------------------*/

/* PUCV */
.cat-PUCV {
    background-color: var(--color-pucv) !important;
}
/* UCN */
.cat-UCN {
    background-color: var(--color-ucn) !important;
}
/* UTFSM */
.cat-UTFSM {
    background-color: var(--color-utfsm) !important;
}
/* UPLA */
.cat-UPLA {
    background-color: var(--color-upla) !important;
}
/* UV */
.cat-UV {
    background-color: var(--color-uv) !important;
}
/* UDEC */
.cat-UDEC {
    background-color: var(--color-udec) !important;
}
/* UTALCA */
.cat-UTALCA {
    background-color: var(--color-utalca) !important;
}
/* ULAGOS */
.cat-ULAGOS {
    background-color: var(--color-ulagos) !important;
}
/* UCSC */
.cat-UCSC {
    background-color: var(--color-ucsc) !important;
}
/* UBIOBIO */
.cat-UBIOBIO {
    background-color: var(--color-ubiobio) !important;
}
/* UNAP */
.cat-UNAP {
    background-color: var(--color-unap) !important;
}
/* UA */
.cat-UA {
    background-color: var(--color-ua) !important;
}
/* UDA */
.cat-UDA {
    background-color: var(--color-uda) !important;
}
/* USERENA */
.cat-USERENA {
    background-color: var(--color-userena) !important;
}
/* UOH */
.cat-UOH {
    background-color: var(--color-uoh) !important;
}
/* UCM */
.cat-UCM {
    background-color: var(--color-ucm) !important;
}
/* UFRO */
.cat-UFRO {
    background-color: var(--color-ufro) !important;
}
/* UCT */
.cat-UCT {
    background-color: var(--color-uct) !important;
}
/* UACH */
.cat-UACH {
    background-color: var(--color-uach) !important;
}
/* UAYSEN */
.cat-UAYSEN {
    background-color: var(--color-uaysen) !important;
}
/* UMAG */
.cat-UMAG {
    background-color: var(--color-umag) !important;
}
/* UTA */
.cat-UTA {
    background-color: var(--color-uta) !important;
}

/* Ajuste de texto para cierto tipo de resolucion */
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        font-size: 0.6rem;
    }
}

