html {
    scroll-behavior: smooth;
}

/* Opacidad de Post */
.div-imagen {
    /* display:fluid; */
    position:relative;
}

.div-imagen > div {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    padding:10px;
    margin:0;
}

.desvanecer:hover {
    opacity: 0.15;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.desvanecer-thumb:hover {
    opacity: 0.15 !important;
    color: black;
    -webkit-transition: opacity 500ms !important;
    -moz-transition: opacity 500ms !important;
    -o-transition: opacity 500ms !important;
    -ms-transition: opacity 500ms !important;
    transition: opacity 500ms !important;
}
/* Fin Opacidad de Post */

/* Back To Top */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
/* Fin Back To Top */

/*----------------------------*\
	post category
\*----------------------------*/

/* PUCV */
.post-meta .post-category.cat-PUCV {
    background-color: #a75154;
}
/* UCN */
.post-meta .post-category.cat-UCN {
    background-color: #BD6222;
}
/* UTFSM */
.post-meta .post-category.cat-UTFSM {
    background-color: #f7ae00;
}
/* UPLA */
.post-meta .post-category.cat-UPLA {
    background-color: #0099cc;
}
/* UV */
.post-meta .post-category.cat-UV {
    background-color: #003399;
}
/* UDEC */
.post-meta .post-category.cat-UDEC {
    background-color: #9c9a9a;
}
/* UTALCA */
.post-meta .post-category.cat-UTALCA {
    background-color: #AE0E36;
}
/* ULAGOS */
.post-meta .post-category.cat-ULAGOS {
    background-color: #056563;
}
/* UCSC */
.post-meta .post-category.cat-UCSC {
    background-color: #d10024;
}
/* UBIOBIO */
.post-meta .post-category.cat-UBIOBIO {
    background-color: #054993;
}
/* UNAP */
.post-meta .post-category.cat-UNAP {
    background-color: #003cff;
}
/* UA */
.post-meta .post-category.cat-UA {
    background-color: #003cff;
}
/* UDA */
.post-meta .post-category.cat-UDA {
    background-color: #364b57;
}
/* USERENA */
.post-meta .post-category.cat-USERENA {
    background-color: #003cff;
}
/* UOH */
.post-meta .post-category.cat-UOH {
    background-color: #003cff;
}
/* UCM */
.post-meta .post-category.cat-UCM {
    background-color: #003cff;
}
/* UFRO */
.post-meta .post-category.cat-UFRO {
    background-color: #003cff;
}
/* UCT */
.post-meta .post-category.cat-UCT {
    background-color: #003cff;
}
/* UACH */
.post-meta .post-category.cat-UACH {
    background-color: #003cff;
}
/* UAYSEN */
.post-meta .post-category.cat-UAYSEN {
    background-color: #003cff;
}
/* UMAG */
.post-meta .post-category.cat-UMAG {
    background-color: #003cff;
}
/* UTA */
.post-meta .post-category.cat-UTA {
    background-color: #003cff;
}

/* Ajuste de texto para cierto tipo de resolucion */
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        font-size: 0.6rem;
    }
}

.desvanecer{
    border-radius: 5px;
    background-image: url("../img/category.png");
}

